/* Makes variables accessible throughout file */
:root {
    --border: 3px solid;
}

.not-visible {
    display: none;
}

#tasks {
    display: flex;
    flex-direction: column;
}

.task {
    background-color: #ffffff;
}

.task-done {
    order: 1;
    background-color: #ffffff83;
    border: 0 !important;
    text-decoration: line-through;
}

.task-priority-low {
    border: var(--border) var(--bs-primary);
}

.task-priority-medium {
    border: var(--border) var(--bs-warning);
}

.task-priority-high {
    border: var(--border) red;
}